.container{
    width: 100%;
    font-family: sans-serif;
}
/* tilte is not responsive */
.title {
    margin: 20px auto;
    text-align: center;
    color: black;
    font-size: 40px;
    max-width: 600px;
    position: relative;
}
.title::before {    
    content: "";
    display: block;
    width: 30vw;
    height: 8px;
    background: #7B76F1;
    left: 28vw;
    top: 50%;
    position: absolute;
    border-radius: var(--radius);
}
.title::after {
    content: "";
    display: block;
    width: 30vw;
    height: 8px;
    background: #7B76F1;
    right: 28vw;
    top: 50%;
    position: absolute;
    border-radius: var(--radius);
}
.component{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    width: 80%;
    margin: auto;
    height: 60px;
    border-radius: calc(2 * var(--radius));
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: row;
}
.name{
    flex: 7;
    margin: auto 0;
    padding-left: 50px;
}
.rating{
    flex: 4;
    margin: auto;
}
.drop-down{
    flex: 1;
    margin: auto;
    cursor: pointer;
}
.drop-down-icon{
    padding: 2px;
    transition: all .2s ease-in;
}
.drop-down-icon:hover{
    background-color:#ddddde;
    border-radius: 50%;
}
.content{
    width: 80%;
    gap: 10px;
    margin: auto;
    padding: 10px;
    background-color: rgb(232, 234, 236);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.metric-box{
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
}
.comment{
    flex: 3;
    margin: auto;
    padding: 0 20px;
}
.comment input{
    border: 3px solid rgb(198, 196, 196);
    background-color: aliceblue;
    padding: 2px;
}

.btn{
    background-image: linear-gradient(to right,#4834D4,#686DE0);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--radius);
}
