.feedback_container {
    width: 100%;
    font-family: sans-serif;
    --radius: 8px;
    min-width: 600px;
}


.feedback_title_container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 1rem auto;
    align-items: center;
    gap: 1rem;
    padding:0 1rem;
}
.feedback_title_bar{
    height: 8px;
    background: #7B76F1;
    border-radius: var(--radius);
    flex: 1;
}
 .feedback_title {
    text-align: center;
    color: black;
    font-size: 40px;
    max-width: 600px;
    position: relative;
}
/*.feedback_title::before {    
    content: "";
    display: block;
    width: 30vw;
    height: 8px;
    background: #7B76F1;
    left: 28vw;
    top: 50%;
    position: absolute;
    border-radius: var(--radius);
}
.feedback_title::after {
    content: "";
    display: block;
    width: 30vw;
    height: 8px;
    background: #7B76F1;
    right: 28vw;
    top: 50%;
    position: absolute;
    border-radius: var(--radius);
} */
.feedback_component{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feedback_box{
    width: 85%;
    min-width: 600px;
    margin: auto;
    height: 60px;
    border-radius: calc(2 * var(--radius));
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: row;
}
.feedback_name{
    flex: 7;
    margin: auto 0;
    padding-left: 50px;
}
.feedback_rating{
    flex: 4;
    margin: auto;
}
.feedback_drop-down{
    flex: 1;
    margin: auto;
    cursor: pointer;
}
.feedback_drop-down-icon{
    padding: 2px;
    transition: all .2s ease-in;
}
.feedback_drop-down-icon:hover{
    background-color:#ddddde;
    border-radius: 50%;
}
.feedback_content{
    width: 85%;
    gap: 10px;
    margin: auto;
    padding: 10px;
    background-color: rgb(232, 234, 236);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 600px;
}
.feedback_metric-box{
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
}
.feedback_comment{
    flex: 3;
    margin: auto;
    padding: 0 20px;
}
.feedback_comment input{
    border: 3px solid rgb(198, 196, 196);
    background-color: aliceblue;
    padding: 2px;
}

.feedback_btn{
    background-image: linear-gradient(to right,#4834D4,#686DE0);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--radius);
}